DISCORD_WEBHOOK_URL=
MODEL_PATH=comparisons/best_original_intensive_v1_grid_lr.joblib
CLASS_MAPPING_PATH=comparisons/class_mapping.csv
TRAIN_CSV_PATH=new2Top6EditRename_New_Clean_Chula_MPIEM_group.csv
